<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteAccountForm" method="post" action="{% url 'delete_account' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p class="text-danger">Type your username to confirm account deletion:</p>
                    <input type="text" id="usernameConfirmation" name="username_confirmation" class="form-control"
                           placeholder="Enter your username" required>
                    <small class="text-danger d-none" id="usernameError">Username does not match.</small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {% csrf_token %}
                    {{ form.username_confirmation }}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>