<nav class="sidebar">
    <ul class="nav flex-column">
        <!-- Other menu items -->
        <li class="nav-item">
            <span class="nav-link">User</span>
            <ul class="sub-menu">
                <li><a href="{% url 'account_overview' %}">Account Overview</a></li>
                <li><a href="{% url 'account_settings' %}">Account Settings</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <span class="nav-link">Expenses</span>
            <ul class="sub-menu">
                <li><a href="{% url 'categories' %}">Categories</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <span class="nav-link">Authentication</span>
            <ul class="sub-menu">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
                <li><a href="{% url 'password_reset' %}">Password Reset</a></li>
            </ul>
        </li>
    </ul>
</nav>