.expenses__title {
    display: flex;
    justify-content: space-between;
}

.dataTable-dropdown label {
    display: ruby-text;
}

.uiExpensesTblBody td:last-of-type {
    display: flex;
    justify-content: center;
}

#monthlyExpensesContainer .accordion-header {
    background: var(--bs-tertiary-bg);
    padding: 20px;
}

.monthly-expenses-container #showMoreButton {
    width: 200px;
}