.expenses__title {
    display: flex;
    justify-content: space-between;
}

.dataTable-dropdown label {
    display: ruby-text;
}

.uiExpensesTblBody td:last-of-type {
    display: flex;
    justify-content: center;
}

#monthlyExpensesContainer .accordion-item {
    padding: 15px;
}

#monthlyExpensesContainer .accordion-header {
    background: #f3efef69;
}

.monthly-expenses-container #showMoreButton {
    width: 200px;
}