{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar Navigation -->
            <div class="col-12 col-lg-2">
                <!-- Nav -->
                <nav class="nav nav-pills position-sticky flex-column mb-5" id="accountNav" style="top: 32px">
                    <a class="nav-link active" href="{% url 'account_overview' %}">Overview</a>
                    <a class="nav-link" href="{% url 'account_settings' %}">Settings</a>
                    <a href="#" class="nav-link text-danger" data-bs-toggle="modal"
                       data-bs-target="#deleteAccountModal">Delete
                        account</a>
                </nav>
            </div>
            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Header Section -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>Account</h2>
                    <div>
                        <a href="{% url 'account_settings' %}" class="btn btn-outline-secondary me-2">Edit</a>
                    </div>
                </div>

                <!-- User Information -->
                <div class="card m-5">
                    <div class="card-body d-flex">
                        <!-- Profile Picture -->
                        <div class="me-4">
                            <img src="{{ profile_picture|default:'/static/images/default_profile.png' }}"
                                 alt="Profile Picture"
                                 class="rounded-circle"
                                 style="width: 100px; height: 100px;">
                        </div>
                        <!-- User Info -->
                        <div>
                            <h4>{{ user.username }}</h4>
                            <p class="text-muted">{{ user.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="card m-5">
                    <div class="card-body ">
                        <h5 class="card-title">User Settings</h5>
                        <p>Currency: {{ user_settings.currency }}</p>
                        <p>language: {{ user_settings.language }}</p>
                        <p>Timezone: {{ user_settings.timezone }}</p>
                        <p>Numeric Format: {{ user_settings.num_format }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include './components/delete_user_modal.html' %}


    <script src="{% static 'js/account.js' %}"></script>

{% endblock %}


