{% extends "layout.html" %}
{% load static %}

{% block title %}
    Categories
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container categories-container px-4 py-5" id="custom-cards">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">
                    <i class="bi bi-tags-fill me-1"></i>
                    Categories
                </h5>
                <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#createCategoryModal">
                    Create Category
                </button>
            </div>

            <div class="card-body categories-card-body">
                <div id="noCategoriesMessage" class="alert alert-info hidden" role="alert">
                    No categories available. Please create one to get started!
                </div>
                
                <div class="form-floating mb-3 filter-container">
                    <input type="text" class="form-control" id="categoriesSearchInput" placeholder="Please type category name...">
                    <label for="categoriesSearchInput">Search for category</label>
                </div>

                <ul class="list-group categories-list-group">
                    {# Dynamically populated categories #}
                </ul>
            </div>
        </div>
    </div>

    {% include './components/create_category_modal.html' %}
    {% include './components/edit_category_modal.html' %}
    {% include './components/delete_category_modal.html' %}
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/categories.js' %}"></script>
{% endblock %}